/* Main Styles */

body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: courier;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  /*position: relative */;
  text-align: justify-all;
  border-radius: 10px;
  /* background: #000; */
}

.players {
  position: block;
  padding: 10px;
  margin: 100px;
  width: 70%px;
}

#player_1 {
  text-align: left;
  float: left;
/*  width: 300px;*/
}

#player_2 {
  text-align: right;
  float: right;
/*  width: 135px;*/
}

label, input {
  float: left;
}

label {
  margin-right: 5px;
  clear: left;
}

input {
 /* background: #0000a0;*/
 background: transparent;
  width: 50px;
  border: none;
  color: #fff;
}

#canvas {
  background-color: #200ae4; 
  background-image: linear-gradient(rgba(249, 249, 250, 0.4), rgba(69, 145, 231, 0.7)),
  url("FrankfurtSkyline.jpeg");
  
  pointer-events: none;
  opacity: 0.8;
  width: 90%;
  height:  auto;
  margin: 0 auto;
  border: 5px solid #000;
  border-radius: 15px;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}